<!doctype html>
<html ng-app="keyManagementApp" ng-controller="indexController as vm">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>
  <body>
  <div class="main-wrapper">
    <header class="header">
      <h1>KEY MANAGEMENT</h1>
    </header>
    <div class="side-nav-wrapper">
      <ul class="list-container">
        <li>Primary key</li>
      </ul>
    </div>
    <div class="keys-container">
      <a href="" class="add-key" ng-click="vm.openPopup()">Add key</a>
      <keys class="table-container"></keys>
    </div>
    <popup title="Add key" ng-if="vm.isOpen" class="show-popup"></popup>
  </div>
  </body>

  <!-- <script type="text/javascript" src="node_modules/jquery/src/jquery.js"></script> -->
<script
  src="https://code.jquery.com/jquery-2.2.0.min.js"
  integrity="sha256-ihAoc6M/JPfrIiIeayPE9xjin4UWjsx2mjW/rtmxLM4="
  crossorigin="anonymous"></script>
 

  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <!-- <script type="text/javascript" src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="assets/libs/ui-router.min.js"></script> -->
  <script type="text/javascript" src="app/app.module.js"></script>
  <script type="text/javascript" src="app/app.routes.js"></script>
  <!-- <script type="text/javascript" src="app/components/accordion/accordion-controller.js"></script> -->
  <!-- <script type="text/javascript" src="app/components/accordion/accordion-directive.js"></script> -->
  <script type="text/javascript" src="app/directives/popup-directive.js"></script>
  <script type="text/javascript" src="app/directives/keys-directive.js"></script>
  <!-- <script type="text/javascript" src="app/components/popup/popup-controller.js"></script> -->
  <script type="text/javascript" src="app/controllers/popup-controller.js"></script>
  <script type="text/javascript" src="app/controllers/index-controller.js"></script>
  <!-- <script type="text/javascript" src="Services/my-app-service.js"></script> -->
</html>
