<!doctype html>
<html ng-app="keyMS" ng-controller="indexController as indexCtrl">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="node_modules/ng-table/bundles/ng-table.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-datepicker/angular-datepicker.css">
  </head>

  <body>

  <div class="main-wrapper">
    <header class="header">
      <h1>KEY MANAGEMENT</h1>
    </header>
    <div class="side-nav-wrapper">
      <ul class="list-container">
        <li>Primary key</li>
      </ul>
    </div>
    <div class="keys-container">
      <p class="add-key" ng-click="indexCtrl.openPopup()">Add key</p>
       <keys class="table-container"></keys>
    </div>
    <popup class="show-popup" title="Add Key" ng-if="indexCtrl.keyMSService.getPopupData() || indexCtrl.keyMSService.isPassPopup"></popup> 
  </div>
  
  </body>
  
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-table/bundles/ng-table.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-datepicker/angular-datepicker.js"></script>
  <script type="text/javascript" src="node_modules/angular-validation-match/angular-validation-match.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="components/popup/popup-directive.js"></script>
  <script type="text/javascript" src="components/popup/popup-controller.js"></script>
  <script type="text/javascript" src="components/popup/index.js"></script>
  <script type="text/javascript" src="components/keys/keys-directive.js"></script>
  <script type="text/javascript" src="components/keys/index.js"></script>
  <script type="text/javascript" src="components/common.js"></script>
  <script type="text/javascript" src="index-controller.js"></script>
</html>
