<div class="bk-overlay" ng-click="popupCtrl.closeModal()"></div>
<div class="modal-wrapper">
	<div ng-if="!popupCtrl.keyMSService.isPassPopup" class="title">{{popupCtrl.title}}</div>
	<div ng-if="popupCtrl.keyMSService.isPassPopup" class="title">Enter Password</div>
	<div class="modal-content">
		<form ng-if="!popupCtrl.keyMSService.isPassPopup" name="keyForm" ng-submit="popupCtrl.submitForm();">
			<input name="description" type="text" placeholder="Description" ng-model="popupCtrl.newUserData.description" required="required" />
			<div class="validate" ng-show="keyForm.description.$touched && keyForm.description.$invalid">Description is required.</div>
			<datepicker  date-format="yyyy/MM/dd">	
				<input type="text" placeholder="Actives on" name="activedate" ng-model="popupCtrl.newUserData.activeon" readonly required="required" />
			</datepicker>
			<div class="validate" ng-show="keyForm.activedate.$touched && keyForm.activedate.$invalid">Date is required.</div>
			<datepicker date-format="yyyy/MM/dd" date-min-limit="{{popupCtrl.newUserData.activeon}}">
				<input type="text" name="expirydate" placeholder="Expiry" ng-model="popupCtrl.newUserData.expiry" readonly required="required" />
			</datepicker>
			<div class="validate" ng-show="keyForm.expirydate.$touched && keyForm.expirydate.$invalid">Date is required.</div>
			<input type="password" name="password" placeholder="Enter password" ng-model="popupCtrl.newUserData.password" required="required" />
			<div class="validate" ng-show="keyForm.password.$touched && keyForm.password.$invalid">password is required.</div>
			<input type="password" name="cnfrmpassword" placeholder="Re-enter password" ng-model="popupCtrl.newUserData.cnfrmpassword" match = "popupCtrl.newUserData.password" required="required" />
			<div class="validate" ng-show="keyForm.cnfrmpassword.$error.match">Fields do not match!</div>
			<input class="button" type="submit" ng-disabled="keyForm.$invalid" value="Submit">
		</form>
		<form ng-if="popupCtrl.keyMSService.isPassPopup" name="passForm" ng-submit="popupCtrl.submitPassForm();">
			<input type="password" placeholder="Please enter password" name="passwordPop" ng-model="popupCtrl.passwordPop" required="required" />
			<div class="validate" ng-show="passForm.passwordPop.$touched && passForm.passwordPop.$invalid || popupCtrl.passwordIncorrect">incorrect password.</div>
			<input class="button" type="submit" value="Submit">
		</form>
	</div>
</div>
