<!doctype html>
<html ng-app="keyMS" ng-controller="indexController as indexCtrl">

<head>
  <meta charset="utf-8">
  <!--inject:css-->
  <link rel="stylesheet" href="assets/css/main-3148170efe.min.css">
  <!-- endinject -->
</head>

<body>

  <div class="main-wrapper">
    <div class="side-nav-wrapper">
      <div class="heading">
        <div class="logo"></div>
        <h1>KEY MS</h1>
      </div>
      <img class="menu-icon" ng-if="!indexCtrl.keyMSService.isMenuOpen" src="assets/images/menu-icon.png" ng-click="indexCtrl.openMenu()">
      <img class="menu-icon" ng-if="indexCtrl.keyMSService.isMenuOpen" src="assets/images/close-button.png" ng-click="indexCtrl.closeMenu()">
      <p class="small-heading">Main</p>
      <div class="menu" ng-class="{'mobile-menu':indexCtrl.keyMSService.isMenuOpen}">
        <p ng-click="indexCtrl.openAccordion()" class="menu-heading">System keys</p>
        <ul class="menu-lists">
          <li><a href="#primarykey/0">Primary key</a></li>
          <li><a href="#secondarykey/1">Secondary key</a></li>
        </ul>
      </div>
    </div>
    <div class="header-nav">
      <p>Welcome to key Management System</p>
    </div>
    <div class="keys-container">
      <div ng-view></div>
    </div>
    <popup class="show-popup" title="Add Key" ng-if="indexCtrl.keyMSService.getPopupData() || indexCtrl.keyMSService.isPassPopup"></popup>
  </div>

</body>
<!--inject:js-->
<script src="js/libs-b65e9e4f71.min.js"></script>
<script src="js/main-ba5bb0395a.min.js"></script>
<!-- endinject -->

</html>