@media (max-width: 1024px) {
    .menu-icon {
		display: block;
		position: absolute;
		top: 18px;
		right: 22px;
		height: 31px;
    }

    .side-nav-wrapper {
	    width: 100%;
	    height: 75px;
	  	padding-top: initial;
	    position: relative;
	    overflow: hidden;
	}

	.heading {
   		padding-top: 16px;
	}

	.heading h1 { 
		text-align: left;
		font-size: 16px;
	}

	.mobile-menu { 
		width: 100%;
		position: fixed;
		left: 0%;
		-webkit-transition: all 2s;
		transition: all 0.5s;
		width: 100%;
		overflow: hidden;
		height: 220px;
		background-color: #2d3e4e;
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 75px;
		z-index: 2;
	 }

	 .header-nav {
	 	height: initial;
	 	padding: 20px;
	 	margin-left: 0;
	 }

	 .header-nav p:first-child {
	 	float: none;
	 	padding-bottom: 20px;
	 }

	 .key-title {
	 	padding: 19px 0;
	 	padding-left: 10px;
	 	width: 60%;
	 	min-height: 48px;
	 }

	 .key-title p{
	 	padding-left: initial;
	 }

	 .key-title .logo-key{
	 	display: none;
	 }

	 .table-container {
	 	padding: 20px 10px;
	 	max-height: 350px;
	 	font-size: 12px;
	 }

	 .table-container table, th, td {
	 	font-size: 12px;
	 }

	 .keys-container { 
	 	padding-left: 0px;
	 	margin-left: 0;
	 	width :100%;	 
	 }

	 .modal-wrapper {
	 	width: 80%;
	 }

}