*{
	margin: 0;
	padding: 0;
    font-family: 'sinkin-sans-regular';
}
html,body {
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
}

@font-face{
   font-family: 'Exo-Regular';
   src: url("../fonts/Exo-Regular.otf");
}

@font-face{
   font-family: 'sinkin-sans-regular';
   src: url("../fonts/sinkin/SinkinSans-400Regular.otf");
}


.bk-overlay {
    background-color: rgba(37, 37, 37, 0.58);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

.logo {
    background-image: url(../images/user_manage.png);
    height: 40px;
    width: 40px;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 20px;
}

.menu-heading {
    height: 30px;
    width: 100%;
    background-color: #2C3949;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
}

.menu {
    padding-top: 10px;
}

.menu-lists {
    padding-left: 20px;
    font-size: 12px;
}

.menu-lists li {
    padding: 7px 0;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

.menu-lists li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}

.heading {
    padding-bottom: 30px;
}

.heading h1{
    font-size: 20px;
    line-height: 45px;
    text-align: left;
    padding-left: 80px;
}

.modal-wrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 40%;
    height: auto;
    z-index: 2;
    font-family: 'Exo-Regular';
    padding-bottom: 20px;
}

.modal-wrapper .title {
    background-color: #2D3E4E;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;

}

.modal-content {
    width: 80%;
    margin: 0 auto;
}

.modal-content input,
.modal-content select {
    width: 100%;
    float: left;
    margin-top: 20px;
    border: 1px hidden;
    border-bottom: 2px solid;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}

.small-heading {
    color: #526271;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

.table-container {
    background: #fff;
    overflow-y: auto;
    float: left;
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgba(155, 155, 155, 0.44);
    padding-bottom: 40px;
    max-height: 450px;
}

.button {
	width: 200px !important;
	border: 2px solid !important;
	margin: 0 auto;
    cursor: pointer;
}

.header-nav {
    height: 37px;
    background-color: #fff;
    color: #2b2b2b;
    margin-left: 14%;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.44);
}

.header-nav p:first-child {
    float: left;
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
}
.header-nav p:last-child {
    font-size: 14px;
    cursor: pointer;
}

.side-nav-wrapper {
    width: 14%;
    height: 100%;
    background-color: #2D3E4E;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    overflow: hidden;
}

.side-nav-wrapper .panel {
    background-color: transparent;
    border: 0;
    padding-top: 140px;
}

.side-nav-wrapper .panel-heading {
    background-color: transparent !important;
    text-align: left;
    color: #fff;
}

.side-nav-wrapper .panel-body {
    border-top: 0 !important;
    text-align: left;
    padding: 0 10px;
    padding-left: 20px;
}

.side-nav-wrapper .panel-title {
    color: #fff;
}

.list-container {
    padding-top: 200px;
}

.add-key {
    float: right;
    overflow: hidden;
    text-align: right;
    margin-bottom: 22px;
    cursor: pointer;
    border: 1px solid grey;
    background-color: #989898;
    padding: 10px;
}

.keys-container {
    padding-top: 100px;
    width: 75%;
    margin: 0 auto;
    padding-left: 20px;
    margin-left: 16%;

}
.key-title p{
    padding-left: 100px;
}

.logo-key {
    width: 50px;
    height: 50px;
    background-color: #0DC0AA;
    border-radius: 50%;
    text-align: center;
    line-height: 53px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 21px;
    left: 13px;
}

.key-title{
    width: 30%;
    background-color: #fff;
    padding: 36px 0;
    box-shadow: 1px #6b6b6b;
    border: 1px solid rgba(107, 107, 107, 0.18);
    position: relative;
    margin-bottom: 30px;
}

.table-container table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    padding-bottom: 50px;
}

.ng-table th {
    background-color: #2d3e4e;
    color: #fff;
}

.table-container table, th, td {
    border: 1px solid rgba(146, 146, 146, 0.55);
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    font-weight: normal
}

.table-container .ng-table-pager {
    padding-top: 30px;
}

.validate {
    color: red;
    font-size: 12px;
}

.key-text {
    font-weight: bolder;
    padding: 5px;
    border-radius: 6px;
}

.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    background-color: rgb(45, 62, 78) !important;
    text-shadow: none !important;
}

.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    text-shadow: none !important;
}

.primary-text {
    padding: 15px 0;
    font-size: 12px;
    color: #6b6b6b;
}
.primary-text span{
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 8px;
    border-radius: 7px;
}

.secondary-table-container {
    padding-bottom: 30px;
}

.hide {
    display: none;
}