<div ng-if="!keysCtrl.tableData.length">No Data.</div>
<div ng-show="keysCtrl.tableData.length">Search : <input type="text" name="search" class="search-input" ng-model="searchKeyword"></div>
<div ng-if="!keysCtrl.isSecondary && keysCtrl.tableData.length">
  <table ng-table="keysCtrl.tableParams" class="table">
    <tr ng-repeat="data in $data | filter: searchKeyword track by $index">
      <td title="'Key'">
      	<span class="key-text" ng-style="{'background-color': data.color}">{{data.key}}</span></td>
      <td title="'Description'">
        {{data.description}}</td>
    	<td title="'Actives on'" sortable="'activeon'">
        {{data.activeon}}</td>
        <td title="'Expires on'" sortable="'expiry'">
        	{{data.expiry}}</td>
        <td title="'Actions'">
        	<span class="edit-delete" ng-click="keysCtrl.editKey('',data.key)" ng-model="edit">Edit</span>
        	<span>/</span>
        	<span class="edit-delete" ng-click="keysCtrl.deleteRow('',data.key)" ng-model="delete">Delete</span>
        </td>
    </tr>
  </table>
</div>

<div ng-if="keysCtrl.isSecondary"  ng-repeat="parentData in keysCtrl.tableData track by $index">

  <div ng-if="parentData.secondaryKey.length" class="secondary-table-container">
  <div class="primary-text">
     Primary key - <span ng-style="{'background-color': parentData.color}">{{keysCtrl.tableData[$index].key}}</span></div>
  <table  ng-table="tableParams" class="table">
    <tr ng-repeat="data in parentData.secondaryKey | filter: searchKeyword track by $index">
      <td title="'Secondary Key'">
        <span class="key-text" ng-style="{'background-color': parentData.color}">{{data.key}}</span></td>
      <td title="'Description'">
        {{data.description}}</td>
      <td title="'Actives on'">
        {{data.activeon}}</td>
        <td title="'Expires on'">
          {{data.expiry}}</td>
        <td title="'Actions'">
          <span class="edit-delete" ng-click="keysCtrl.editKey($parent.$index,data.key)">Edit</span>
          <span>/</span>
          <span class="edit-delete" ng-click="keysCtrl.deleteRow($parent.$index,data.key)">Delete</span>
        </td>
    </tr>

  </table>
  </div>
</div>
