<table ng-table="tableParams" class="table" show-filter="true">
  <tr ng-repeat="data in keysCtrl.tableData">
    <td title="'Key'" filter="{ Key: 'text'}">
    	<span class="key-text" ng-style="{'background-color': keysCtrl.color}">{{data.key}}</span></td>
    <td title="'Description'" filter="{ description: 'text'}">
      {{data.description}}</td>
  	<td title="'Actives on'" filter="{ activeOn: 'text'}">
      {{data.activeon}}</td>
      <td title="'Expires on'" filter="{ expiresOn: 'text'}">
      	{{data.expiry}}</td>
      <td title="'Edit/Delete'"></td>
  </tr>
</table>
