
<table ng-controller ="indexController as vm" ng-table="tableParams" class="table" show-filter="true">
  <tr ng-repeat="user in vm.data">
    <td title="'Key'" filter="{ Key: 'text'}">
    	{{user.key}}</td>
    <td title="'Description'" filter="{ description: 'text'}">
      {{user.description}}</td>
  	<td title="'Actives on'" filter="{ activeOn: 'text'}">
      {{user.activeOn}}</td>
      <td title="'Expires on'" filter="{ expiresOn: 'text'}">
      	{{user.expiresOn}}</td>
      <td title="'Edit/Delete'"></td>
  </tr>
</table>