<div class="bk-overlay" ng-click="indexController.closeModal()"></div>
<div class="modal-wrapper">
	<div class="title">{{indexController.title}}</div>
	<div class="modal-content">
		<form>
			<input type="text" placeholder="Description" ng-model="description"/>
			<input type="date" placeholder="Actives on" ng-model="activeon"/>
			<input type="date" placeholder="Expiry" ng-model="expiry"/>
			<input type="password" placeholder="Enter password" ng-model="password"/>
			<input type="password" placeholder="Re-enter passwords" ng-model="cnfrmpassword"/>
			<input class="button" type="submit" name="" value="submit">
		</form>
	</div>
</div>
